.App {
  height: 100%;
}

.input {
  width: 100%;
  margin: 0;
  padding: 0;
  outline: none;
  height: 50px;
  padding: 0px 12px;
  border: 1px solid #949494;
  border-radius: 4px;
}

.input-ctn {
  margin: 20px 0px;
}

.settings-input {
  width: 60px;
  color: #167c80;
  height: 30px;
  border-radius: 4px;
  outline: none;
  border: none;
  overflow-x: hidden;
  font-size: 15px;
  text-align: center;
  font-weight: 600;
}

.settings-input::-webkit-outer-spin-button,
.settings-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
