.element-setup-ctn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ccc;
  margin: 10px 0px;
  min-height: 75px;
  padding: 0px 10px;
}

#letter-ctn {
  width: 25px;
  font-size: 30px;
  font-weight: 600;
}

.description-ctn {
  width: 100%;
  margin: 0px 10px;
}

#add-item {
  background-color: #167c80;
  border: none;
  color: white;
  height: 30px;
  border-radius: 50px;
  margin: 5px 0px;
}

#add-item:hover {
  cursor: pointer;
  background-color: #279fa4;
}

.remove-icon {
  margin: 0px 5px;
}

.remove-icon:hover {
  cursor: pointer;
}
