.dashboard-ctn {
  display: flex;
  height: 100%;
  position: absolute;
}

#side-menu-ctn {
  width: 250px;
  min-width: 250px;
  text-align: center;
  background-color: #167c80;
  color: white;
  display: flex;
}

#widgets-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
