.widget-builder-ctn {
  height: 100vh;
  overflow-y: hidden;
}
.build-ctn {
  display: flex;
  height: 100%;
  align-items: center;
}

#element-list-ctn {
  display: flex;
  position: fixed;
  margin-left: 5%;
}

#widget-build-ctn {
  display: flex;
  margin: 0 auto;
  position: relative;
}
